<%- include('../../fragments/header.ejs') %>
<%- include('../../fragments/logout.ejs') %>
    <main>
        <h2><%= __('rent.list.title') %></h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th><%= __('client.fields.firstName') %></th>
                    <th><%= __('client.fields.lastName') %></th>
                    <th><%= __('car.fields.brand') %></th>
                    <th><%= __('car.fields.model') %></th>
                    <th><%= __('list.actions.title') %></th>
                </tr>
            </thead>
            <tbody>
                <% for (let rent of rents) { %>
                    <tr>
                        <% for (let client of allClients) { %>
                            <% if (client._id==rent.client_id) { %>
                                <td><%= client.imie %></td>
                                <td><%= client.nazwisko %></td>
                            <% } %>
                        <% } %>
                        <% for (let car of allCars) { %>
                            <% if (car._id==rent.car_id) { %>
                                <td><%= car.marka %></td>
                                <td><%= car.model %></td>
                            <% } %>
                        <% } %>
                        <td>
                            <ul class="list-actions">
                                <li><a href="/rents/details/<%=rent._id%>" class="list-actions-button-details"><%= __('list.actions.details') %></a></li>
                                <li><a href="/rents/edit/<%=rent._id%>" class="list-actions-button-edit"><%= __('list.actions.edit') %></a></li>
                                <li><a href="/rents/delete/<%=rent._id%>" class="list-actions-button-delete"><%= __('list.actions.delete') %></a></li>
                            </ul>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <p><a href="/rents/add" class="button-add"><%= __('rent.list.addNew') %></a></p>
    </main>
    <%- include('../../fragments/footer.ejs') %>