<div style="display: none">
    <span id="errorMessage-required"><%= __('validation.messages.required') %></span>
    <span id="errorMessage-minMax"><%= __('validation.messages.minMax') %></span>
    <span id="errorMessage-contains"><%= __('validation.messages.contains') %></span>
    <span id="errorMessage-to"><%= __('validation.messages.to') %></span>
    <span id="errorMessage-characters"><%= __('validation.messages.characters') %></span>
    <span id="errorMessage-invalidForm"><%= __('validation.messages.invalidForm') %></span>
    <span id="errorMessage-nonNegative"><%= __('validation.messages.nonNegative') %></span>
    <span id="errorMessage-futureDate"><%= __('validation.messages.futureDate') %></span>
    <span id="errorMessage-dates"><%= __('validation.messages.dates') %></span>
 </div>
