<%- include('fragments/header.ejs') %>
<%- include('fragments/loginForm.ejs') %>
    <main>
        <h2><%= __('main-page.content') %></h2>
        <p> <%= __('main-page.text1') %><br/>
            <%= __('main-page.text2') %><br/>
            <%= __('main-page.text3') %>
        </p>
    </main>
<%- include('fragments/footer.ejs') %>